.pos_info {
    margin: 20px;
    height: 100px;
    text-wrap: wrap;
    line-break: anywhere;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.pos_info > span {
    transition: background-color 0.5s ease-out;
    border: 1px solid #dbd9d9;
    background-color: var(--bg-color);
    height: 100%;
    border-radius: 10px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos_info > span[data-in-hand=true] {
    background-color: #00ad26;
}

.pos_info > span[data-landscape=true] {
    background-color: #00a7ad;
}

.carousel_block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 1px solid #dbd9d9;
    border-radius: 10px;
    position: relative;
    transition: border 0.3s;
}

.carousel_block[data-visible=false] {
    border: 2px solid red;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    padding: 10px 20px;
    gap: 10px;
}

.info > span {
    padding: 4px;
    border: 1px solid #dbd9d9;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
    flex-basis: 50%;
}

.info > span[data-swipestate="right"] {
    background-color: #00ad26;
}

.info > span[data-swipestate="left"] {
    background-color: #00a7ad;
}

